.ant-layout{
    height: 100%;
}
.header{
    background: #1c88e5;
    .ant-row{
        height: 100%;
    }
    .header_name_logo{
        width: 45px;
        height: 45px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .header_name_title{
        font-size: 18px;
        padding-left: 8px;
    }
    .header_opertion{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .ant-dropdown-link{
        color: #fff;
    }
}
.ant-layout-header{
    padding: 0 30px;
}
.header_name{
    color: #fff;
    
}